/* Fondo gris semi-transparente */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Estilo del formulario modal */
.modal-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Botón de cerrar */
.close-btn {
    background-color: #ff1744;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    align-self: flex-end;
    transition: background-color 0.3s, transform 0.3s;
}

.close-btn:hover {
    background-color: #d50000;
    transform: scale(1.1);
}

/* Estilos generales del formulario */
form label {
    font-weight: bold;
    color: #213547;
    font-size: 16px;
}

form input, form textarea, form select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    font-size: 16px;
    color: #213547;
    background-color: #f9f9f9;
}

form button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #FDC300;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    transition: background-color 0.3s, transform 0.3s;
}

form button:hover {
    background-color: #f9a825;
    color: #000000;
    transform: scale(1.1);
}